body {
  width: 80vw;
}
menu {
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  font-weight: 300;
  font-family: $font;
  width: 100%;
}

#counterimg {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
}

h2 {
  font-size: 40px;
  letter-spacing: 3px;
}

h3 {
  font-size: 32px;
  letter-spacing: 2px;
}

.section__main__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section__main__info 
    {
  display: flex;
  gap: 2em;
}
